In [7]:
import pandas as pd
from sklearn.model_selection import train_test_split
import numpy as np
import threading
import itertools


print('\nName:- Abhishikth Boda')
print('Roll Number:- S20210010044')
print('Course:- Machine Learning')
print('Section:- 2')
print('Assignment Number:- 4')
print('Date:- 31th August 2023\n')

print('Program is being executed\n')

Name:- Abhishikth Boda
Roll Number:- S20210010044
Course:- Machine Learning
Section:- 2
Assignment Number:- 4
Date:- 31th August 2023

Program is being executed

In [8]:
df =pd.read_csv("./adult_mod.csv", header=None)
df.replace(" ?", pd.NA, inplace=True)
df.dropna(inplace=True)
cat_cols = [col for col in df.columns if df[col].dtype == 'O']
cat_cols.remove(8)
for col in cat_cols:
    unqs = df[col].unique()
    for unq in unqs:
        dfn = pd.DataFrame()
        dfn[unq] = df[col].map(lambda ent: 1 if ent==unq else 0)
        df = pd.concat([df, dfn],axis=1)
    df.drop(axis=1, columns=[col], inplace=True)
df

,0,3,8,9,10,11,State-gov,Self-emp-not-inc,Private,Federal-gov,...,Trinadad&Tobago,Greece,Nicaragua,Vietnam,Hong,Ireland,Hungary,Holand-Netherlands,<=50K,>50K
0,39,13,Male,2174,0,40,1,0,0,0,...,0,0,0,0,0,0,0,0,1,0
1,50,13,Male,0,0,13,0,1,0,0,...,0,0,0,0,0,0,0,0,1,0
2,38,9,Male,0,0,40,0,0,1,0,...,0,0,0,0,0,0,0,0,1,0
3,53,7,Male,0,0,40,0,0,1,0,...,0,0,0,0,0,0,0,0,1,0
4,28,13,Female,0,0,40,0,0,1,0,...,0,0,0,0,0,0,0,0,1,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
32556,27,12,Female,0,0,38,0,0,1,0,...,0,0,0,0,0,0,0,0,1,0
32557,40,9,Male,0,0,40,0,0,1,0,...,0,0,0,0,0,0,0,0,0,1
32558,58,9,Female,0,0,40,0,0,1,0,...,0,0,0,0,0,0,0,0,1,0
32559,22,9,Male,0,0,20,0,0,1,0,...,0,0,0,0,0,0,0,0,1,0
32560,52,9,Female,15024,0,40,0,0,0,0,...,0,0,0,0,0,0,0,0,0,1

In [9]:
train, test = train_test_split(df, test_size=0.2)

In [10]:
class knnClassifier:
    def __init__(self, k=5, p=2):
        self.k = k
        self.p = p

    def fit(self, X_train, y_train):
        self.X_train = X_train
        self.y_train = y_train
        self.size = len(X_train[0])

    def calculate_distance(self, p1, p2):
        distance = 0
        p = self.p
        size = self.size
        for i in range(size):
            distance += (abs(p1[i] - p2[i]) ** p)
        return distance ** (1 / p)

    def predict_label(self, point):
        distances_arr = []
        train = self.X_train
        y = self.y_train
        for tp, yp in zip(train, y):
            distances_arr.append((yp, self.calculate_distance(tp, point)))
        distances_arr.sort(key=lambda x: x[1])
        topk = list(map(lambda x: x[0], distances_arr[:self.k]))
        return max(topk, key=topk.count)

    def predict(self, X):
        prediction = []
        for t in X:
            prediction.append(self.predict_label(t))
        return prediction

    def score(self, X, y):
        predictions = self.predict(X)
        corrects = [1 for p, a in zip(predictions, y) if p == a]
        accuracy = sum(corrects) / len(y)
        print(f"Accuracy = {accuracy:.2f} for k = {self.k}")
        return accuracy

In [ ]:
p=5
for i in itertools.count():
    p+=1

knn5 = knnClassifier(k=5)
knn5.train(train.drop(axis=1, columns=[8]).values.tolist(),train[8].values.tolist(), train.shape[1]-1)
knn3 = knnClassifier(k=3)
knn3.train(train.drop(axis=1, columns=[8]).values.tolist(),train[8].values.tolist(), train.shape[1]-1)

t1 = threading.Thread(target=knn5.score, args=(test.drop(axis=1, columns=[8]).values.tolist(),test[8].values.tolist()))
t2 = threading.Thread(target=knn3.score, args=(test.drop(axis=1, columns=[8]).values.tolist(),test[8].values.tolist()))

In [ ]:
t1.start()
t2.start()
t1.join()
t2.join()

Accuracy = 0.722 for k = 3
Accuracy = 0.736 for k = 5